body{
	background: white;
	width: 80%;
	margin: 0 auto;
	border: solid 1px black;
	font-family: helvetica;
}
header{
	color: white;
	box-shadow: 0px 0px 30px #F0ADE1;
	background-color: #4A0277;
	padding: 20px;
} 
footer{
	color: white;
	background-color: #4A0277;

}
.dinero{
	width: 50px;
	height: 50px;
	border-radius: 160px;
	border: 2px solid #EA02F2;
	box-shadow: 0px 0px 10px #F0ADE1;
}
.dinerodolar,.dineroreal,.dineropeso{
	width: 40px;
	height: 40px;
	border-radius: 150px;
}
.Actualizado{
	color:#AF039D;
}
.dolar{
	margin: 50px 5px 50px 150px;
}
.real,.peso{
	margin: 50px 5px 50px 15px;
}
.dolar,.real,.peso{
	padding: 10px;
	border: solid 1px #8B0089;
	box-shadow: 0px 0px 10px #F0ADE1;
	display: inline-flex;
	background-color: #E4E3E3;
}
.t1,.t2{
	display: inline-flex;
	margin: 30px 100px 30px 100px;
}
.titulo{
	text-align: center;
}
/*{
	float: right;
}
*/
table,td{
	text-align: center;
	padding: 5px;
	height: 20px;

}
th{
	text-align: left;
}
span{
	color: #CD00A4;
}